<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Wesiya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav class="pages">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">My Wesiya</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/logout" class="logout-link">Logout</a></li>
        </ul>
    </nav>

    <div class="home-container">
        <h1>Welcome to Wesiya</h1>
        <p>You are successfully logged in to WESIYA.</p>
        <p>Use your dashboard to write and record you wesiya after your death!</p>

        <a href="/dashboard" class="main-link">Go to Dashboard</a>
    </div>

</body>
</html>