<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Wesiya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav class="pages">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">My Wesiya</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/logout" class="logout-link">Logout</a></li>
            
        </ul>
    </nav>

    <div class="home-container">
        <h1>Welcome to Wesiya</h1>

        <p>You are successfully logged in.</p>

        <p>
            Wesiya is your personal space for writing, voice recording,
            and keeping track of important personal WESIYA updates after death!.
        </p>

        <p>
            Use your dashboard to write daily wesiya inside My Wesiya.
        </p>

        <a href="/dashboard" class="main-link">Go to Dashboard</a>
    </div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: "en",
                includedLanguages: "en,am,ar",
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, "google_translate_element");
        }
    </script>

 
<script src="{{ url_for('static', filename='translator.js') }}"></script>
</body>
</html>